@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Round');
@import './variables.scss';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('../assets/background_curve.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

// select all class that include 'button'
[class*='button'] {
  border: none;
  color: $whiteColor;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}
