@import './variables.scss';

.navbar {
  background-color: $primaryDarckColor;
  display: flex;
  justify-content: space-between;
  height: 6vh;
  min-height: 30px;
  min-width: 180px;
  align-items: center;
  color: $whiteColor;
  &__userAvatar {
    &__button {
      align-items: center;
      &__image {
        max-width: 30px;
        max-height: 30px;
        border-radius: 50%;
      }
    }
  }
}
