.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: red;
  display: flex;
  justify-content: space-between;
}
.sidebar {
  &--is-open {
    position: absolute;
    width: 15vw;
    top: 40px;
    height: calc(100% - 40px);
    background-color: green;
    transition: left 0.3s ease-in-out;
    left: 0;
  }
  &--is-close {
    right: -15vw;
  }
}
// 0339195327
