@import './variables.scss';

.sidebar {
  position: absolute;
  height: calc(100vh - 50px);
  background-color: $whiteColor;
  top: 50px;
  left: 0;
  z-index: 2 !important;
  display: flex;
  width: fit-content;
  flex-direction: column;
}
