@import './variables.scss';

.sidebar {
  position: absolute;
  height: calc(100vh - 50px);
  background-color: $whiteColor;
  top: 50px;
  z-index: 2;
  left: 0;
  display: flex;
  width: fit-content;
  flex-direction: column;
  animation: test 1s alternate;

  &--open {
    left: 0;
    background-color: red;
  }

  &--close {
    left: -15vw;
    display: none;
  }
}

@keyframes test {
  from {
    left: -15vw;
  }
  to {
    left: 0;
  }
}
