@import './variables.scss';
.signOut {
  &__button {
    position: absolute;
    top: 6vh;
    right: 1vw;
    background-color: $coolGrey !important;
    border-radius: 0 0 5px 5px;
    color: $textGrey !important;

    padding: 0.2rem 0.8rem;
    &:hover {
      color: $whiteColor !important;
      background-color: $warmGrey !important;
    }
  }
}
