@keyframes slideOut {
  0% {
    left: -15vw;
    display: none;
    opacity: 0;
  }
  100% {
    left: 0;
    display: flex;
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    display: flex;
    left: 0;
    opacity: 1;
  }
  100% {
    display: none;
    left: -15vw;
    opacity: 0;
  }
}
