// listes of all style variables

// list of colors
$primaryDarckColor: #0412d6;
$primaryLightColor: #187edd;
$secondaryDarkColor: #067c3d;
$secondaryLightColor: #37f549;
$thirdDarckColor: #460774;
$thirdLightColor: #8a0ee2;
$dangerColor: #f30a06;
$warrningColor: #ea710b;
$successColor: #5af52d;

// fonte size
$title: 1.5rem;
$title2: 1rem;
$body1: 1rem;
