// listes of all style variables

// list of colors
$mainColor: #dd4814;
$primaryDarckColor: #2c001e;
$primaryMidColor: #5e2750;
$primaryLightColor: #77216f;

$warmGrey: #aea79f;
$coolGrey: #333333;
$lightGrey: #393939;
$textGrey: #9e9f9f;

$secondaryLightColor: #e9bfd7;
$thirdDarckColor: #460774;
$thirdLightColor: #8a0ee2;
$dangerColor: #f30a06;
$warrningColor: #ea710b;
$successColor: #5af52d;
$whiteColor: rgb(250, 248, 248);
$greyColor: #4b4b4b;
$lightGreyColor: #ececec;
$transparendBackground: rgba(68, 67, 67, 0.582);

// box shadow
/* offset-x | offset-y | blur-radius | spread-radius | color */
$boxShadowGrey: 0px 0px 10px 5px rgba(0, 0, 0, 0.336);
