@import './variables.scss';

.card {
  position: absolute;
  top: 30vh;
  background-color: $whiteColor;
  border-radius: 0 1rem 0 1rem;
  box-shadow: $boxShadowGrey;
  z-index: 2;

  &::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 5rem solid transparent;
    border-left: 5rem solid $primaryLightColor;
  }
  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    height: 0;
    border-top: 5rem solid transparent;
    border-right: 5rem solid $primaryLightColor;
  }

  &__title {
    display: flex;
    justify-content: center;
  }
}
