@import './variables.scss';
@import './mixin.scss';

.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  &__container {
    margin: auto;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    box-shadow: $boxShadowGrey;
    border-radius: 5px;
    background-color: $whiteColor;
    &__title {
      @include title1;
    }
  }
}
